body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.grid-container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-top: 20px;
}
